
.social {
    position: fixed;
    top: 45%;
    z-index: 12;
    
}

@media only screen and (max-width: 767px) {
    .social {
        display:none;

    }
    
    }

.social ul {
    list-style: none;
    padding:0;
    transform: all 0.7s;
    transform: translateX(-190px);

    
}


.social li {
    display: block;
    margin:7px;
    background-color: black;
    height: 45px;
    width: 220px;
    text-align: center;
    justify-content: center; 
    padding: 10px;
    border-radius: 0 30px 30px 0;
    opacity: 0.8;
font-size: 25px;
font-family: Cursive;
text-decoration: none;

}
.social li:hover {
    transform: translateX(150px);
    transition: all 0.5s;
    opacity:1.0;

}

.social li.facebook:hover {
background-color: #3d5999;

}

.social li.twitter:hover {
    background-color: #55acee;

}

.social li.instagram:hover {
    background-color: orange;
}

.social li.contact:hover {
    background-color: red;
}



.social li a {
height: 100%;
width: 100%;  
display:inline-flex;
justify-content: center;
align-content: left;
position: absolute;
right:-10px;
text-decoration:none;
font-size: 18px;
color: white;
padding-right:15px;
}


.social li img {
    
    margin-left: 40px;
    max-width:44px;
    max-height:44px;
    background-color: white;
    justify-content: right;
    text-align: right;
    transform: rotate(0deg);
    margin-top: 0px;
    margin-bottom: 15px;
    position:absolute;
    right:25px;
    font-size: 20px;
}


.social li:hover img {
    transform:rotate(360deg);
    transition: all 0.6s;
    margin-right: 0;
 }