.App {
  height: 100vh;
  width: 100%;
  min-width: 987px;
  min-height:624px;
  background-size: 100%;
  background-image:url(../src/images/spapic.jpg);
  background-position:unset;
}

@media screen and (max-width: 767px) {
  .App {
      max-width:767px;
      min-height:100%;
      width:100%;
      background-image:none;
      background-position: center;
  }
  }